<p class="lead">Based on the hit show from NBC, find out who you are the most compatable with! Start the survey now!</p>
<p class="lead">
    <a class="btn btn-primary btn-lg" href="/survey" role="button" id="survey">Survey</a>
</p>